<%- include("header") -%>

<h2>this is about page about harsh kumar</h2>
<p>lorem ispsum jnfjjds jnjdsfj njlfjjdsjnf fjanjrn njfnjrngjer mkjnnkjgnkgn jngjnerkjgn nrg .</p>


<%- include("footer") -%>
